{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "ignore"
}
