<div>
  <h1>
    Iniciar sesión
  </h1>
  <form id='login_form'>
    <label for=''>
      Email
    </label>
    <input id='email' type='text' name='email' />
    <br />
    <label>
      Contraseña
    </label>
    <input id='password' type='password' ,name='password' />
    <input type='submit'>
      Enviar
    </input>
    <p>
      ¿No estás registrado?
      <a href='/api/users/register'>
        Registrate aquí
      </a>
    </p>
  </form>
</div>

<script src="/js/login.js"></script>
