<div>
  <h1>
    Bienvenido al chat
  </h1>
  <h2>
    Nombre
    <span id='myName'></span>
  </h2>

  <div>
    <p>
      Escribe un mensaje en el Chatbox:
      <input type='text' id='chatBox' />
    </p>
    <button id='cloaseChatbox'>
      Close ChatBox
    </button>
  </div>

  <div>
    <p id='messageLogs'></p>
  </div>
</div>