<div class='d-flex justify-content-center'>
  <div class='card w-50 p-5'>
    <h1>
      Iniciar sesión
    </h1>
    <form action='/api/users/login' method='POST' id='login_form'>
      <div class='row mb-3'>
        <div class='col-12 mb-3'>
          <label class='form-label' for='email'>
            Email
          </label>
          <input
            class='form-control'
            id='email'
            type='text'
            name='email'
            placeholder='Ingrese su correo electrónico'
          />
        </div>
        <div class='col-12 mb-3'>
          <label class='form-label' for='password'>
            Contraseña
          </label>
          <input
            class='form-control'
            id='password'
            type='password'
            name='password'
            placeholder='Ingrese su contraseña'
          />
        </div>
      </div>
      <div class='row align-items-center px-3'>
        <button class='btn btn-lg btn-primary' type='submit'>
          Enviar
        </button>
        <span class='ml-auto'>
          ¿No estás registrado?
          <a href='/register'>
            Registrate aquí
          </a>
        </span>
      </div>
    </form>
  </div>
</div>